<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post in detail</title>
    <link rel="stylesheet" href="/detailStyles.css">
</head>
<body>
    <h1>Post in detail</h1>
    <div class="post-detail">
        
        <h3>Post Id : <%=reqPost.postId%></h3>
        <h3>Posted by : <%=reqPost.username%></h3>
        
        <div class="post">
            <Caption>Caption : </Caption><%=reqPost.post.description%>
        </div>
        
    </div>
    <form method="get"action="/posts" class="back-btn">
            <button type="submit">Back </button>
    </form>
</body>
</html>