<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No user found</title>
    <link rel="stylesheet" href="/noUserstyles.css">
</head>
<body>
    <div class="container">
        <h1>No details found for @<%=user%> <span>Username : <div class="name"><%=user%></div></span></h1>
        <div class="status">
            <h1>404 errror</h1>
        </div>
        <a href="/posts">Exit</a>
    </div>
</body>
</html>